# Unity3D
/Library/
/Temp/

/Packages/
/UnityPackageManager/

# Scripts
bin/
obj/

# Visual Studio
/.vs/
Assets/WarpWorld/Managed/ExCSS.Unity.dll.meta
Assets/WarpWorld/Managed/Unity.Cecil.dll.meta
Assets/WarpWorld/Managed/Unity.Cecil.Mdb.dll.meta
Assets/WarpWorld/Managed/Unity.Cecil.Pdb.dll.meta
Assets/WarpWorld/Managed/Unity.CecilTools.dll.meta
Assets/WarpWorld/Managed/Unity.DataContract.dll.meta
Assets/WarpWorld/Managed/Unity.Legacy.NRefactory.dll.meta
Assets/WarpWorld/Managed/Unity.SerializationLogic.dll.meta
Assets/WarpWorld/Managed/Unity.UNetWeaver.dll.meta
Assets/WarpWorld/Managed/UnityEditor.dll.meta
Assets/WarpWorld/Managed/UnityEditor.xml
Assets/WarpWorld/Managed/UnityEditor.xml.meta
Assets/WarpWorld/Managed/UnityEngine.dll.meta
Assets/WarpWorld/Managed/UnityEngine.UI.dll.meta
Assets/WarpWorld/Managed/UnityEngine.UI.xml
Assets/WarpWorld/Managed/UnityEngine.UI.xml.meta
Assets/WarpWorld/Managed/UnityEngine.xml
Assets/WarpWorld/Managed/UnityEngine.xml.meta
CrowdControl/.vs/CrowdControl/v15/Server/sqlite3/db.lock
CrowdControl/.vs/CrowdControl/v15/Server/sqlite3/storage.ide
CrowdControl/.vs/CrowdControl/v15/Server/sqlite3/storage.ide-shm
CrowdControl/.vs/CrowdControl/v15/Server/sqlite3/storage.ide-wal
Documentation/
CrowdControl/packages/
